{% extends "layout.njk" %}

{% set title = "Gifhy - biblioteca de Gifs" %}

{% block content %}


<h1 class="my-5 text-left"><img src="/imgs/gifplace.gif" height="60" />{{ title }}</h1> 


<section class="card-deck ">
  {% for gifsget in gifs %}
  
  
          <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                <div class="card text-white bg-dark">
                    <a href="gifs/{{ gifsget.id }}">  <img src="{{ gifsget.image }}" class="card-img-top" alt="{{ gifsget.name }}" height="240"> </a>
                    <div class="card-body">
                          <h5 class="card-title">{{ gifsget.name }}</h5>
                          <p class="card-text">Design: {{ gifsget.autor }} </p> 
                          <p> Tags: <span class="badge badge-pill badge-dark"> 
                                <a href="categorias/{{ gifsget.categoria }}/{{ gifsget.cat }}">{{ gifsget.cat }} 
                                </a> 
                         </span>
                         </p>
                   </div>
                </div>
          </div>
      


  {% endfor %}
</section>


{% endblock %}

{% block script %}
{% endblock %}
